# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

images/
images3/
uploads/

image-photorunner_old.jar

Stripe_old_version/

amazon-ses-sample.php

photorunner.sublime-workspace

admin/include/config.php
